Library/
Temp/
Logs/
UserSettings/
Obj/
.dotnet-home/
Build/
Builds/
MemoryCaptures/
.vs/
.vscode/
.idea/
.plastic/
*.csproj
*.unityproj
*.sln
*.slnx
*.user
*.userprefs
*.pidb
*.pdb
*.mdb
*.opendb
*.VC.db
*.tmp
*.apk
*.aab
*.unitypackage
*.private
**/Assets/AssetStoreTools/
**/Assets/Plugins/PlasticSCM*
**/Assets/AddressableAssetsData/*/*.bin*
**/Assets/StreamingAssets/aa.meta
*.private.meta
~UnityDirMonSyncFile~*
.DS_Store
Thumbs.db
Desktop.ini

/Library.BeforeShortPath/
